<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  		<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" type="text/css" href="../layuiadmin/style/global.css"/>
	</head>

<body class="layui-layout-body">
<style type="text/css">
	body,.layui-layout-admin .layui-header{
		min-width: 1200px;
	}
</style>
<div id="LAY_app">
		<div class="layui-layout layui-layout-admin">

			<div class="layui-header header header-demo" winter="">
				<div class="layui-main">
					<a class="logo" href="/">
						
					</a>
					<ul class="layui-nav">
						<li class="layui-nav-item ">
							<a href="#" class="icon-nav-return">返回到展示</a>
						</li>
						<li class="layui-nav-item">
							<a href="#"  class="icon-nav-task">任务<span>（0）</span></a>
						</li>

						<li class="layui-nav-item">
							<a href="#"  class="icon-nav-vol">公告<span>（0）</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="#"  class="icon-nav-notice">消息<span>（0）</span></a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;" class="links-admin">
								管理员<span class="layui-nav-more"></span>
							</a>
							<dl class="layui-nav-child layui-anim layui-anim-upbit" style="left: auto; right: 0; text-align: center;">
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
								<dd lay-unselect="">
									<a href="#" target="_blank">管理员菜单</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="#" class="img-avator">
								<img src="../images/img-avator.png"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
         <div class="layui-nav-item layadmin-flexible" lay-unselect="">
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
              <span>收起</span>
            </a>
        </div>
        <div class="layer-imglinks">
        	<a href="" lay-tips="统计" lay-direction="2">
        		<img src="../images/side-img-nav1.png"/>
        	</a>
        	<a href="" lay-tips="报表" lay-direction="2">
        		<img src="../images/side-img-nav2.png"/>
        	</a>
        	<a href="" lay-tips="展示" lay-direction="2">
        		<img src="../images/side-img-nav3.png"/>
        	</a>
        	<a href="" lay-tips="分析" lay-direction="2">
        		<img src="../images/side-img-nav4.png"/>
        	</a>
        </div>
        
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
           
            <li data-name="user" class="layui-nav-item ">
              <a href="javascript:;" lay-tips="首页" lay-direction="2">
                <i class="layui-icon icon-nav1"></i>
                <cite>首页</cite>
              </a>
              <dl class="layui-nav-child">
              	<dd class="layui-this">
                  <a lay-href="user/index.html">主页一</a>
                </dd>
                <dd>
                  <a lay-href="user/defult2.html">主页二</a>
                </dd>
                
              </dl>
            </li>
           
		
			<li data-name="map" class="layui-nav-item">
              <a href="javascript:;" lay-tips="集中地图展示" lay-direction="2">
                <i class="layui-icon icon-nav2"></i>
                <cite>集中地图展示</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="map/defult1.html">遥感展示</a>
                </dd>
                <dd>
                  <a lay-href="map/defult2.html">生产矿山</a>
                </dd>
                
                <dd>
                  <a lay-href="map/defult3.html">绿色矿山</a>
                </dd>
                <dd>
                  <a lay-href="map/defult4.html">废弃矿山</a>
                </dd>
                <dd>
                  <a lay-href="map/defult5.html">政府投资</a>
                </dd>
                <dd>
                  <a lay-href="map/defult6.html">调查矿山</a>
                </dd>
                
                
              </dl>
            </li>
            
            <li data-name="product" class="layui-nav-item">
              <a href="javascript:;" lay-tips="生产矿山" lay-direction="2">
                <i class="layui-icon icon-nav3"></i>
                <cite>生产矿山</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="product/defult1.html">生产矿山</a>
                </dd>
                <dd>
                  <a lay-href="product/defult2.html">生产矿山2</a>
                </dd>
                
                <dd>
                  <a lay-href="product/defult3.html">生产矿山3</a>
                </dd>
                <dd>
                  <a lay-href="product/defult4.html">生产矿山4</a>
                </dd>
              </dl>
            </li>
            
            <li data-name="green" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="绿色矿山" lay-direction="2">
                <i class="layui-icon icon-nav4"></i>
                <cite>绿色矿山</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="user/index.html">绿色矿山查看</a>
                </dd>
                <dd>
                  <a lay-href="user/list.html">绿色矿山管理</a>
                </dd>
                
                <dd>
                  <a lay-href="green/defult3.html">绿色矿山3</a>
                </dd>
                <dd>
                  <a lay-href="green/defult4.html">绿色矿山4</a>
                </dd>
              </dl>
            </li>
            
            <li data-name="discard" class="layui-nav-item">
              <a href="javascript:;" lay-tips="废弃矿山" lay-direction="2">
                <i class="layui-icon icon-nav5"></i>
                <cite>废弃矿山</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="discard/defult1.html">废弃矿山1</a>
                </dd>
                <dd>
                  <a lay-href="discard/defult2.html">废弃矿山2</a>
                </dd>
                
                <dd>
                  <a lay-href="discard/defult3.html">废弃矿山3</a>
                </dd>
                <dd>
                  <a lay-href="discard/defult4.html">废弃矿山4</a>
                </dd>
              </dl>
            </li>
            
            <li data-name="gov" class="layui-nav-item">
              <a href="javascript:;" lay-tips="政府投资" lay-direction="2">
                <i class="layui-icon icon-nav6"></i>
                <cite>政府投资</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="gov/defult.html">政府投资1</a>
                </dd>
                <dd>
                  <a lay-href="gov/defult2.html">政府投资2</a>
                </dd>
                <dd>
                  <a lay-href="gov/defult3.html">政府投资3</a>
                </dd>
                <dd>
                  <a lay-href="gov/defult4.html">政府投资4</a>
                </dd>
              </dl>
            </li>
            
            
            
            <li data-name="mine" class="layui-nav-item">
              <a href="javascript:;" lay-tips="矿山档案" lay-direction="2">
                <i class="layui-icon icon-nav7"></i>
                <cite>矿山档案</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="mine/defult.html">矿山档案1</a>
                </dd>
                <dd>
                  <a lay-href="mine/defult2.html">矿山档案2</a>
                </dd>
                
                <dd>
                  <a lay-href="mine/defult3.html">矿山档案3</a>
                </dd>
                <dd>
                  <a lay-href="mine/defult4.html">矿山档案4</a>
                </dd>
              </dl>
            </li>
            
            
            <li data-name="team" class="layui-nav-item">
              <a href="javascript:;" lay-tips="组织管理" lay-direction="2">
                <i class="layui-icon icon-nav8"></i>
                <cite>组织管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="team/defult.html">组织管理1</a>
                </dd>
                <dd>
                  <a lay-href="team/defult2.html">组织管理2</a>
                </dd>
                
                <dd>
                  <a lay-href="team/defult3.html">组织管理3</a>
                </dd>
                <dd>
                  <a lay-href="team/defult4.html">组织管理4</a>
                </dd>
              </dl>
            </li>
            
            <li data-name="system" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
                <i class="layui-icon icon-nav9"></i>
                <cite>系统管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="user/set.html">菜单管理</a>
                </dd>
                <dd>
                  <a lay-href="user/set-edit.html">菜单管理-编辑</a>
                </dd>
                
                <dd>
                  <a lay-href="system/defult3.html">系统管理3</a>
                </dd>
                <dd>
                  <a lay-href="system/defult4.html">系统管理4</a>
                </dd>
              </dl>
            </li>
            
            
            
            
          </ul>
        
        
        </div>
      </div>
      
   
      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="user/defult.html" lay-attr="user/defult.html" class="layui-this">系统首页</li>
          </ul>
        </div>
      </div>

      
      
      
			<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe src="user/index.html" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>

				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>

		
		</div>
</div>
<script src="../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>

		
	</body>

</html>