<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>绿色矿山查看</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space15 layui-row-border">
				<div class="layui-col-sm12">
					<div class="layui-card">
						<div class="layui-card-header">
							绿色矿山管理
							
						</div>
						<div class="layui-card-body">
							<div class="layui-row layui-col-space15">
								<div class="layui-col-sm4">
									<div class="manage-inbox-content">
										<img src="../../images/img-nav1.png"/>
										<div class="txt">
											<h4>绿色矿山</h4>
											<p>
												<strong>167个</strong>
											</p>
										</div>
									</div>
								</div>
								<div class="layui-col-sm4">
									<div class="manage-inbox-content">
										<img src="../../images/img-nav2.png"/>
										<div class="txt">
											<h4>国家级</h4>
											<p>
												<strong>167个</strong>
											</p>
										</div>
									</div>
								</div>
								<div class="layui-col-sm4">
									<div class="manage-inbox-content">
										<img src="../../images/img-nav3.png"/>
										<div class="txt">
											<h4>自治区级</h4>
											<p>
												<strong>167个</strong>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-card-body">
							  <div class="layui-form layuiadmin-card-header-auto">
						        <div class="layui-form-item">
						        	<div class="layui-inline">
						            <label class="layui-form-label">申请年度</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">请选择年度</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">批次</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">请选择批次</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">盟市</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">全部</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						           <div class="layui-inline">
						            <label class="layui-form-label">旗县</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">全部</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						           <div class="layui-inline">
						            <label class="layui-form-label">矿类</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">全部</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">矿种</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">全部</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">开采方式</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">露天</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						           <div class="layui-inline">
						            <label class="layui-form-label">矿山规模</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">大型</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">矿山名称</label>
						            <div class="layui-input-inline">
						              <input type="text" placeholder="请输入矿山名称" autocomplete="off" class="layui-input">
						            </div>
						          </div>
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">等级</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">国家级</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          
						          <div class="layui-inline">
						            <label class="layui-form-label">所属行业</label>
						            <div class="layui-input-inline">
						              <select name="label">
						                <option value="">煤炭行业</option>
						                <option value="0">2020</option>
						                <option value="1">2019</option>
						                <option value="2">2018</option>
						              </select>
						            </div>
						          </div>
						          
						          <div class="layui-row"></div>
						          
						          <div class="button-group-row">
						          	
						        
						         
						            <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
						              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
						            </button>
						            
						            <button class="layui-btn">
						              	<span>添加</span>
						            </button>
						            
						            <button class="layui-btn">
						              	<span>导出</span>
						            </button>
						            
						            <button class="layui-btn">
						              	<span>导入</span>
						            </button>
						            <button class="layui-btn">
						              	<span>模板下载</span>
						            </button>
						            
						            
						            
						          </div>
						        </div>
						      </div>
						
							<table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar"></table>
							<script type="text/html" id="test-table-operate-barDemo">
              <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
              <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>

						</div>	
					</div>
				</div>
			</div>
		</div>

		
		<script src="../../layuiadmin/layui/layui.js"></script>
		
		 <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'table'], function(){
    var admin = layui.admin
    ,table = layui.table;
  
    table.render({
      elem: '#test-table-toolbar'
      ,url: layui.setter.base + 'json/table/demo.js'
      
      ,title: '用户数据表'
      ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field:'id', title:'序号', width:80, fixed: 'left', unresize: true, sort: true}
        ,{field:'username', title:'矿山名称', width:120, edit: 'text'}
        ,{field:'logins', title:'盟市', width:100, sort: true}
        ,{field:'sex', title:'旗县', width:80, edit: 'text', sort: true}
        ,{field:'city', title:'申报年度', width:100}
        ,{field:'sign', title:'矿种'}
        ,{field:'experience', title:'规模', width:80, sort: true}
        ,{field:'ip', title:'等级', width:120}
        ,{field:'joinTime', title:'加入时间', width:120}
         ,{width:178,title: '操作',  align:'center', fixed: 'right', toolbar: '#test-table-operate-barDemo'}

      ]]
      ,page: true
    });
    

  
  });
  </script>


	</body></html>                                                                                                                                               