@charset "utf-8";
/*常用css*/
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
/*常用字体*/
.yh {
  font-family: 'Microsoft YaHei';
}
.st {
  font-family: 'SimSun';
}
.ar {
  font-family: 'Arial';
}
.roman {
  font-family: "Times New Roman";
}
.tn {
  display: block;
  font-size: 0;
  text-indent: -99999em;
  color: transparent;
}
.tt a:hover {
  text-decoration: underline;
}
.xie {
  font-style: italic;
}
.ddd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #10bf3e;
}
.btn {
  cursor: pointer;
}
body {
  font-size: 12px;
  color: #666;
  line-height: 24px;
  min-width: 1200px;
  font-family: 'Microsoft YaHei';
}
.l {
  color: #10bf3e !important;
}
.w {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
/*header*/
body {
  font-size: 13px;
  color: #757575;
}
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background: url(../images/headbg.png) no-repeat #00A4CB;
  height: 78px;
}
.header:after {
  content: "";
  display: block;
  background: url(../images/head-lbg.png) no-repeat;
  width: 37px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 100%;
}
.header .logo {
  background: url(../images/logo.png) center 75% no-repeat;
  width: 580px;
  height: 78px;
  text-indent: -9999px;
}
.head-right {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/head-rbg.png) no-repeat;
  height: 78px;
}
.head-right ul {
  padding-left: 70px;
}
.head-right li {
  float: right;
  width: 70px;
  text-align: center;
}
.head-right a {
  display: block;
  width: 70px;
}
.head-right .icon {
  padding-top: 8px;
}
.head-right .icon img {
  height: 39px;
  display: block;
  margin: 0 auto;
}
.head-right a:hover p {
  color: #10BF3E;
}
.leftbar {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  background: #3D525D;
  width: 80px;
}
.nav-bar {
  padding-top: 78px;
  text-align: center;
}
.nav-bar .handle {
  padding-top: 18px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  color: #fff;
}
.nav-bar .handle .icon img {
  display: block;
  margin: 0 auto 10px;
}
.nav-bar li.active .handle,
.nav-bar li.on .handle,
.nav-bar li .handle:hover {
  background: #2B3E48;
  color: #fff;
}
.nav-bar li {
  position: relative;
}
.mapEg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/map.jpg) center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.nav-list {
  position: absolute;
  left: 80px;
  top: 122px;
  display: block;
  background: transparent;
  width: 52px;
}
.nav-list dl {
  width: 52px;
  background: #FFFFFF;
  border-radius: 8px;
}
.nav-list a {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #7A7A7A;
  padding: 10px 0;
}
.nav-list a:hover {
  color: #3D525D;
}
.nav-list p {
  white-space: nowrap;
  line-height: 1.1em;
}
.nav-list .ico img {
  display: block;
  margin: 0 auto 2px;
  height: 28px;
}
.nav-list dl dd:nth-last-of-type(1) p {
  font-size: 14px;
}
.year-tab-bar {
  position: fixed;
  z-index: 10;
  background: url(../images/yeadbg.png) no-repeat;
  width: 604px;
  height: 52px;
  left: 19%;
  bottom: 30px;
}
.year-tab-bar .prev {
  background: url(../images/icon-left.png) center no-repeat;
  width: 44px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.year-tab-bar .next {
  background: url(../images/icon-right.png) center no-repeat;
  width: 44px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.year-tab-bar a {
  cursor: pointer;
}
.year-tab-bar .prevStop,
.year-tab-bar .nextStop {
  opacity: 0.5;
  cursor: no-drop;
}
.year-tab-bar .bds {
  padding-top: 8px;
  margin-left: 47px;
  width: 506px;
  position: relative;
  overflow: hidden;
  height: 34px;
}
.year-tab-bar li {
  float: left;
  position: relative;
  padding-right: 18px;
}
.year-tab-bar li a {
  float: left;
  display: block;
  background: url(../images/btn-bg1.png) center no-repeat;
  width: 86px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.year-tab-bar li:after {
  content: "";
  width: 18px;
  height: 100%;
  background: url(../images/right-xs.png) center no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.year-tab-bar li.on a {
  background-image: url(../images/btn-bg2.png);
}
.year-tab-bar .bd-x {
  width: 20000px;
}
.rightbar {
  position: fixed;
  z-index: 88;
  top: 115px;
  right: 16px;
  bottom: 48px;
  background: #fff;
  width: 382px;
  max-height: 872px;
  border-radius: 15px;
}
.rightbar .hd {
  height: 44px;
  border-bottom: 1px solid #CBCBCB;
  line-height: 44px;
}
.rightbar .hd ul {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-align-items: stretch;
  -webkit-justify-content: space-between;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}
.rightbar .hd li {
  flex: 1;
}
.rightbar .hd li {
  color: #6B6B6B;
  display: block;
  text-align: center;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
.rightbar .hd li.on {
  background: #10bf3e;
  color: #fff;
}
.rightbar .hd li:nth-of-type(1).on {
  border-radius: 15px 0 0 0;
}
.rightbar .hd li:nth-last-of-type(1).on {
  border-radius: 0 15px 0 0;
}
.rightbar .hd li.on:after {
  content: "";
  border-top: 10px solid #10bf3e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 100%;
  margin-top: -4px;
}
.rightbar .bd {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  max-height: 827px;
  bottom: 0;
}
.rightbar .ScrollBox {
  position: absolute!important;
  height: 100%!important;
}
.rightbar .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.rightbar .mCSB_scrollTools {
  width: 4px;
}
.main-box1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 15px;
  overflow: hidden;
}
.main-box1 .box1 {
  border-bottom: 1px solid #F0F0F0;
  padding: 13px 5px;
}
.main-box1 .box1 ul {
  height: auto;
  overflow: hidden;
}
.main-box1 .box1 li {
  float: left;
  width: 33.3333%;
  padding: 3px 0;
}
.main-box1 .box1 .txt {
  margin: 0 3px;
  background: #10bf3e;
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 8px 0 4px;
}
.main-box1 .box1 .txt h4 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}
.main-box1 .box1 .txt p {
  margin: 0;
}
.main-box1 .box2 {
  padding: 10px 13px 17px;
  border-bottom: 1px solid #F0F0F0;
}
.main-box1 .line-row {
  padding-top: 34px;
  position: relative;
}
.main-box1 .line-row .line {
  height: 9px;
  background: #E8E8E8;
  position: relative;
  overflow: hidden;
}
.main-box1 .line-row .line .progress {
  background: #10bf3e;
  height: 9px;
}
.main-box1 .line-row .txt {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 30px;
  font-size: 15px;
  color: #6B6B6B;
}
.main-box1 .line-row .number {
  position: absolute;
  color: #10bf3e;
  right: 0;
  line-height: 30px;
  top: 0;
}
.main-box1 .line-row + .line-row {
  margin-top: 10px;
}
.main-box1 .box3 {
  padding-bottom: 12px;
  border-bottom: 1px solid #F0F0F0;
}
.main-box1 .box3 .title {
  position: relative;
  height: auto;
  overflow: hidden;
  height: 38px;
  line-height: 36px;
}
.main-box1 .box3 .title h3 {
  float: left;
  padding-left: 28px;
  position: relative;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
.main-box1 .box3 .title h3:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  background: #10bf3e;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -6px;
}
.main-box1 .box3 .title > span {
  float: right;
  font-size: 15px;
  color: #000;
  padding-right: 15px;
}
.main-box1 .box3:nth-last-of-type(1) {
  border-bottom: 0;
}
.chart-box {
  display: table;
  width: 100%;
}
.chart-box > div {
  display: table-cell;
  vertical-align: middle;
}
.chart-box .th {
  padding: 0 15px;
  width: 135px;
}
.chart-box .td {
  padding-right: 15px;
  vertical-align: middle;
}
.chart-box .td label {
  display: inline-block;
  width: 25px;
  height: 14px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.chart-box .td th {
  width: 106px;
}
.chart-box .td td {
  width: 50px;
  font-weight: bold;
  color: #000;
}
.chart-box .td td + td {
  width: 54px;
  color: #10bf3e;
}
.chart-box .td b,
.chart-box .td strong {
  font-weight: bold;
}
.chart-color1 {
  background: #FFC000;
}
.chart-color2 {
  background: #10BF3E;
}
.chart-color3 {
  background: #10bf3e;
}
.chart-color4 {
  background: #00CCFF;
}
.chart-color5 {
  background: #D8FF00;
}
body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #CBCBCB;
}
body .mCSB_scrollTools .mCSB_draggerRail {
  background: #fff;
}
body .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
body .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background: #10bf3e;
}
.main-box2 .box-hd {
  padding: 14px 7px ;
}
.main-box2 .search-box input {
  border: 1px solid #D6D6D6;
  width: 253px;
  height: 35px;
  background: url(../images/Search.png) 96% center #fff no-repeat;
  padding: 0 10px;
}
.main-box2 .search-box .btn-search {
  float: right;
  width: 87px;
  height: 37px;
  background: #10bf3e;
  cursor: pointer;
}
.main-box2 .search-box .btn-search span {
  display: inline-block;
  color: #fff;
  line-height: 35px;
  padding-left: 22px;
  background: url(../images/Grid.png) 0 center no-repeat;
}
.main-box2 .tab-row {
  height: auto;
  overflow: hidden;
  position: relative;
}
.main-box2 .tab-row ul {
  width: 103%;
}
.main-box2 .tab-row li {
  float: left;
  width: 87px;
  margin-top: 7px;
  margin-right: 7px;
}
.main-box2 .tab-row a {
  display: block;
  height: 37px;
  background: #10BF3E;
  text-align: center;
  line-height: 37px;
  color: #fff;
}
.main-box2 .tab-row li.on a,
.main-box2 .tab-row li a:hover {
  background: #10bf3e;
  color: #fff;
}
.main-box2 .box-bd {
  position: absolute;
  left: 0;
  width: 100%;
  top: 153px;
  bottom: 85px;
}
.main-box2 .box-ft {
  padding-top: 13px;
  padding-bottom: 13px;
 
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  bottom: 0;
}
.page-total{
	text-align: center;
	}
.page-row {
  height: auto;
  position: relative;
  overflow: hidden;
}
.page-row ul {
  float: left;
  position: relative;
  left: 50%;
}
.page-row li {
  float: left;
  position: relative;
  right: 50%;
  margin-right: 5px;
}
.page-row a {
  float: left;
  width: 30px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #727272;
  border-radius: 10px;
}
.page-row li.on a,
.page-row li a:hover {
  background: #10bf3e;
  color: #fff;
}
.page-row .prev a,
.page-row .next a {
  width: auto;
  padding: 0 14px;
  background: #10bf3e;
  color: #fff;
}
.list-list li {
  position: relative;
  padding-left: 62px;
  padding-right: 40px;
  background: url(../images/arrright.png) right 15px center no-repeat;
  padding-bottom: 7px;
}
.list-list li:nth-of-type(2n+1) {
  background-color: #F0F0F0;
}
.list-list .num {
  display: block;
  width: 32px;
  height: 32px;
  background: #3B3B3B;
  border-radius: 50px;
  line-height: 32px;
  position: absolute;
  left: 15px;
  color: #fff;
  top: 6px;
  text-align: center;
  font-size: 18px;
}
.list-list h3 {
  font-size: 15px;
  height: auto;
  overflow: hidden;
  padding-top: 7px;
}
.list-list h3 strong {
  float: left;
  max-width: 177px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-weight: bold;
}
.list-list h3 em {
  padding-left: 1em;
  color: #989898;
  font-weight: bold;
}
.list-list p {
  font-size: 13px;
  color: #989898;
}
.list-list p b {
  color: #10BF3E;
  font-weight: bold;
}
.main-box2 .ScrollBox {
  width: 100%;
}
/*登录*/
.loginbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/loginbg.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.login-head {
  text-align: center;
  padding-top: 37px;
}
.login-form {
  position: absolute;
  background: #fff;
  border-radius: 10px;
  width: 423px;
  height: 381px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  left: 50%;
  margin-left: -212px;
  top: 50%;
  margin-top: -150px;
}
.login-form h3 {
  text-align: center;
  font-size: 16px;
  color: #7E7E7E;
  padding-top: 40px;
  padding-bottom: 25px;
}
.login-form ul {
  width: 305px;
  margin: 0 auto;
}
.login-form li {
  margin-bottom: 12px;
  height: 36px;
  position: relative;
  border: 1px solid #D5D5D5;
}
.login-form li input {
  height: 35px;
  line-height: 35px;
  display: block;
  width: 96%;
  padding: 0 2%;
}
.login-form .img-yzm {
  position: absolute;
  right: 10px;
  top: 6px;
  height: 25px;
}
.login-form .button-row {
  padding-top: 18px;
  width: 305px;
  margin: 0 auto;
}
.login-form .btn-login {
  border-radius: 5px;
  background: #00C300;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
.login-form .checkbox-row {
  width: 305px;
  margin: 0 auto;
}
.login-form .checkbox-row input {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.login-foot {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #fff;
}


.layerSelectContent{
    display:block;
    position:absolute;
    left:60px;
    top:0px;
    background-color:rgba(255,255,255,0.3);
    color:black;
    width:400px;
    border-radius:6px;
    display:none;

}


.popover{
    background:#fff;
    position: relative;
    background: white;
    border-radius: 5px;
    padding:7px;

}

.show{
    display:none;
}

.arrow {
    position: absolute;
    top: 38px;


    width: 0;
    height: 0;
    font-size: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;

}
