<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/alllayui/layui/css/layui.css}"  media="all">
    <script th:src="@{/alllayui/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/system/js/jquery.min.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改Message</legend>
</fieldset>

<form class="layui-form" action="">
                <input type="hidden" name="id" th:value='${message.id}'  >
                <div class="layui-form-item">
                    <label class="layui-form-label">发送人</label>
                    <div class="layui-input-block">
                                <input type="text" name='fromUserId'  th:value='${message.fromUserId}' lay-verify="required" lay-reqtext="发送人为必填项" placeholder="请输入发送人" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">接收人</label>
                    <div class="layui-input-block">
                                <input type="text" name='toUserId'  th:value='${message.toUserId}' lay-verify="required" lay-reqtext="接收人为必填项" placeholder="请输入接收人" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">消息内容</label>
                    <div class="layui-input-block">
                                <input type="text" name='msgContent'  th:value='${message.msgContent}' lay-verify="required" lay-reqtext="消息内容为必填项" placeholder="请输入消息内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态0未读1已读</label>
                    <div class="layui-input-block">
                                <input type="text" name='status'  th:value='${message.status}' lay-verify="required" lay-reqtext="状态0未读1已读为必填项" placeholder="请输入状态0未读1已读" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">添加时间</label>
                    <div class="layui-input-block">
                                <input type="text" name='addTime'  th:value='${message.addTime}' lay-verify="required" lay-reqtext="添加时间为必填项" placeholder="请输入添加时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">阅读时间</label>
                    <div class="layui-input-block">
                                <input type="text" name='readTime'  th:value='${message.readTime}' lay-verify="required" lay-reqtext="阅读时间为必填项" placeholder="请输入阅读时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="subBtn">提交</button>
        </div>
    </div>
</form>
<script>
    layui.use(['jquery','form','laydate'], function(){
        var thisIndex = parent.layer.getFrameIndex(window.name);
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.$ ;

        var laydate = layui.laydate;

        //同时绑定多个
        lay('.datePicker').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });

        //同时绑定多个
        $(document).on('click','.foreignKey',function(){
            let fkAttr = $(this).attr("fkAttr");
            //iframe层-父子操作
            if(fkAttr!=""){
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/message/choosePage?fkName=' +  fkAttr
                });
            }
        });

        var parentLayer = parent.layer;
        var pWindow = parent ;
        form.on('submit(subBtn)', function(data){
            let data2Send = data.field;
            $.post("/message/update",data2Send,function (res) {
                var msg = "";
                if(res.message == 'SUCCESS'){
                    msg = '修改成功!窗口关闭';
                } else {
                    msg = '修改失败!窗口关闭'
                }
                parentLayer.msg(msg, {
                    icon: 1,
                    time: 2000
                }, function(){
                    parentLayer.close(thisIndex);
                    pWindow.document.getElementById('searchBtn').click();
                });
            },"json");
        });
    });

    function coverValue(coverValueColumn,chooseInfo) {
        //console.log("父页面");
        //console.log(coverValueColumn);
        //console.log(chooseInfo);
        let parse = JSON.parse(coverValueColumn);
        var valObj  ;
        if(chooseInfo){
            valObj = chooseInfo[0];
        }
        //console.log(valObj);
        for(let i=0;i<parse.length;i++){
            var coverObj = parse[i];
            setFormValue(coverObj.mTable,valObj[coverObj.rSql]);
        }
    }

    function setFormValue(componentId,val) {
        document.getElementsByName(componentId)[0].value = val;
    }

</script>

</body>