<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/alllayui/layui/css/layui.css}"  media="all">
    <script th:src="@{/alllayui/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/system/js/jquery.min.js}" charset="utf-8"></script>
    
	</head>
	
	<body>
		<div class="layui-container" style="padding: 40px;">  
		  
		  <div class="layui-row">
			<div class="layui-col-md4">
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>
			 <div class="layui-row"><a href="" style="font-size: 16px;"><i class="layui-icon layui-icon-list" style="color: #1E9FFF;"></i>  浦东的巨变从何而来？ 浦东，Go！</a></div>

			</div>
			<div class="layui-col-md8">
			   <div class="layui-row">
				<div class="layui-carousel" id="test1">
				  <div carousel-item>
					<div><img style="width: 100%;" src="/system/images/company_1.jpg"></div>
					<div><img style="width: 100%;" src="/system/images/company_2.jpg"></div>
					<div><img style="width: 100%;" src="/system/images/company_3.jpg"></div>
					<div><img style="width: 100%;" src="/system/images/company_4.jpg"></div>
					<div><img style="width: 100%;" src="/system/images/company_5.png"></div>
				  </div>
				</div>
				<!-- 条目中可以是任意内容，如：<img src=""> -->
				</div>
	
			</div>
	   </div>
		   
		   <div class="layui-row"  >
			   <div class="layui-col-md4" style="text-align: center;">
				   <div id="pageFile"></div> 
			   </div>
			   <div class="layui-col-md8"> 
				    <div class="layui-col-md6" style="text-align: center;height: 40px;background: #DDDDDD;padding: 8px;" >aaaaaaaaaaaa</div>
					<div class="layui-col-md6" style="text-align: center;height: 40px;background: #DDDDDD;padding: 8px;" >bbbbbbbbbbbb</div> 
			   </div>
		   	
		   </div>
		<hr class="layui-bg-gray">
		
		<div class="layui-row">
			<div class="layui-row" style="padding: 10px;"><h2>热搜新闻</h2></div>
				

			<div class="layui-row">
				<div class="layui-col-md3" style="padding: 2px;"   >
					<div style="height: 100px;background: #007DDB;"></div>
				</div>
				<div class="layui-col-md3" style="padding: 2px;"   >
				<div style="height: 100px;background: #007DDB;"></div>
				</div>
				<div class="layui-col-md3"  style="padding: 2px;"   >
				<div style="height: 100px;background: #007DDB;"></div>
				</div>
				<div class="layui-col-md3"  style="padding: 2px;"   >
				<div style="height: 100px;background: #007DDB;"></div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4" style="padding: 2px;"   >
					<div style="height: 100px;background: #007DDB;"></div>
				</div>
				<div class="layui-col-md4" style="padding: 2px;"   >
				<div style="height: 100px;background: #007DDB;"></div>
				</div>
				<div class="layui-col-md4"  style="padding: 2px;"   >
				<div style="height: 100px;background: #007DDB;"></div>
				</div>
			</div>
		</div>
		</div>			
					
	</body>
	
	<script>
layui.use(['laypage','carousel'], function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
  var laypage = layui.laypage;
  //执行一个laypage实例
  laypage.render({
    elem: 'pageFile' //注意，这里的 test1 是 ID，不用加 # 号
    ,count: 50  //数据总数，从服务端得到
	,layout: ['prev','next']
  });
});
</script>
	
	</html>